body {
  background-color: darkgrey;
}
h1 {
  color: black;
}

.formGrouping{
  text-align: center;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.button {
  margin-top: 10px;
  margin-left: 27vw;
}

ul{
  margin-top: 10px;
text-align: center;
list-style-type: none;


}
